<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/skeleton.css">

    <link rel="stylesheet" href="./styles/custom.css">    

    <style>

      body, html {
        display: block }

      a.image {
        text-decoration: none;
        width: 100px;
        height: auto }
      .image.thumb {
        width: inherit;
        height: inherit }

    </style>

    <title>images / index</title>
  </head>

  <body>
    <div class="container header">
      <h4>index <a href="/"><small>Back.</small></a></h4>
    </div>
    
    <div class="container">
      <!-- Reverse images to sort from newest to oldest and split in chunks (rows) of 9. -->
      <% images.reverse().reduce((a, b, i, g) => !(i % 9) ? a.concat([ g.slice(i, i + 9)]) : a, [  ]).forEach(row =>  { %>
        <div class="image-row">
          <% row.forEach(img => { %>
            <a href="./image/<%= img %>" id="<%= img %>" class="image">
              <img src="#" data-src="./thumb/<%= img.slice(0, img.lastIndexOf('.')) + '.jpeg' %>" class="thumb"/>
            </a>
            <% }) %>
          </div>
        <% }) %>
      </div>
    </div>

    <script>
      (function(w, d){
        var b = d.getElementsByTagName('body')[0];
        var s = d.createElement("script"); s.async = true;
        var v = !("IntersectionObserver" in w) ? "8.5.2" : "10.3.5";
        s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
        w.lazyLoadOptions = {}
        b.appendChild(s);
      }(window, document))
    </script>
  </body>
</html>
