<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">

    <style>

      body {
        font-family: 'Arial';
        background: #0e0e0e;
        color: #cccccc }

      small {
        font-size: 15px }

      a.image {
        text-decoration: none }

      .header {
        margin-top: 2rem }

      .thumb {
        width: 100px;
        height: auto }

    </style>

    <title>files / index</title>
  </head>

  <body>
    <div class="container header">
      <h4>index <a href="/"><small>Back.</small></a></h4>
    </div>
    
    <div class="container">
      <% images.reverse().reduce((a, b, i, g) => !(i % 9) ? a.concat([ g.slice(i, i + 9)]) : a, [  ]).forEach(row =>  { %>
        <div class="image-row">
          <% row.forEach(img => { %>
            <a href="./image/<%= img %>" id="<%= img %>" class="image">
              <img src="./thumb/<%= img %>" class="thumb"/>
            </a>
          <% }) %>
        </div>
      <% }) %>
    </div>
  </body>
</html>
