<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/skeleton.css">

    <style>

      body {
        font-family: 'Arial';
        background: #0e0e0e;
        color: #cccccc;
      }

      .muted {
        font-size: 12px;
      }

      .thumb {
        width: 100px;
        height: auto;
      }

    </style>

    <title>files / index</title>
  </head>

  <body>
    <div class="container">
      <h4>index <a href="./"><small class="muted">back</small></a></h4>

      <% images.reverse().forEach(img =>  { %>
        <a href="./<%= img %>"><img src="./thumb/<%= img %>" class="thumb"/></a>
      <% }) %>
    </div>
  </body>
</html>
